body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

header.p {
    color:aquamarine;
    text-decoration: underline;
}